# OpenSearch connection
# OpenSearch / Wazuh Indexer URL
WAZUH_OS_HOST=https://indexer:9200
# OpenSearch username
WAZUH_OS_USER=admin
# OpenSearch password
WAZUH_OS_PASSWORD=changeme
# Whether to verify TLS certs
WAZUH_OS_VERIFY_TLS=true

# UI server auth
# Optional HTTP Basic Auth username for the UI server
AUTH_USER=
# Optional HTTP Basic Auth password for the UI server
AUTH_PASS=

# Server config
# Server bind port
PORT=4173
